[submodule "CMSSW_7_1_1/src/HiggsAnalysis/CombinedLimit"]
	path = CMSSW_7_1_1/src/HiggsAnalysis/CombinedLimit
	url = git@github.com:cms-analysis/HiggsAnalysis-CombinedLimit
	branch = 74x-root6
[submodule "CMSSW_7_1_1/src/HiggsAnalysis/ZZMatrixElement"]
	path = CMSSW_7_1_1/src/ZZMatrixElement
	url = git@github.com:cms-analysis/HiggsAnalysis-ZZMatrixElement
